<h1> Time to Battle! </h1>
<h2> <%= @game.player_one.name %> vs. <%= @game.player_two.name %> </h2>
<h2> <%= @game.show_opponent_turn.name%> attacked <%= @game.show_turn.name %> </h2>
<br>
<%= @game.show_opponent_turn.name %>: <%= @game.show_opponent_turn.hp %>HP
<br>
<%= @game.show_turn.name %>: <%= @game.show_turn.hp %>HP
<br>
<br>
It is <%= @game.show_turn.name%>'s turn

<form action = "/play">
  <input type = "submit" value = "Next Attack" >
</form>
